<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test</title>

    <!-- Custom fonts for this template-->
    {% load static %}
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css'>

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>


<body>
<div class="row justify-content-center">
    <table id="dt-filter-select" class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Similarity
            </th>
            <th class="th-sm">Title
            </th>
            <th class="th-sm">Date
            </th>
        </tr>
        </thead>
        <tbody id="tbody-results">

        </tbody>
        <tfoot>
        <tr>
            <th>Similarity
            </th>
        </tr>
        </tfoot>
    </table>
</div>


<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<script type='text/javascript' src='https://api.stackexchange.com/js/2.0/all.js'></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script type='text/javascript' src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js'></script>

</body>


<script>

    for (let i = 0; i < 3; i++) {
        $('#tbody-results').append(
            $('<tr>').append(
                $('<td>').html("90%"),
                $('<td>').text("What is the meaning of AI?"),
                $('<td>').text("19/5/2019")
            ))
    }

    $(document).ready(function () {


        $('#dt-filter-select').dataTable({

            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    console.log(column)
                    var select = $('<select  class="browser-default custom-select form-control-sm"><option value="" selected>Search</option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });

                });
            }
        });
    });
</script>
</html>